@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>List of Dogs</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var dog in WebApplication1.Controllers.DogsController.dogs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dog.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = dog.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = dog.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = dog.Id })
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.ActionLink("Create new", "Create")
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
